@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Helvetica, sans-serif;

    --purple: #9227c3;
    --aquamarine: #7aebff;
    --purple-dark: #7a21a3;
    --pink: #cb3582;
    --gradient: linear-gradient(to right, var(--pink), var(--purple));
}

body, html{
    height: 100%;
}

h1{
    font-family: 'Archivo Black', sans-serif;
}

.nav-link{
    border-radius: 2vw;
}

.nav-link:hover{
    background-color: var(--purple-dark);
}

.paralax-container{
    background: url(../images/capa.png), var(--gradient);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
}

.btn-customized{
    background-color: var(--purple);
}

.btn-customized:hover{
    background-color: var(--purple-dark);
}

.purple{
    color: var(--purple);
}

.aquamarine{
    color: var(--aquamarine);
}

.width-fifity{
    width: 50%;
}

.custom-width{
    width: 100%;
}

.images-position{
    display: flex;
    transform: rotate(20deg);
    width: 40%;
}

.images-position > img{
    width: 62%;
}

@media screen and (min-width: 992px){
    .custom-width{
        width: 25%;
    }
}